
@import '../../_design.css';

/* Component: Courseauditlog */
.syn-element.syn-courseauditlog {
  display: block;
  gap: 8px;
}

.syn-element.syn-courseauditlog .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-courseauditlog .syn-element__body {
  margin-top: 6px;
}
