
@import '../../_design.css';

/* Component: Assessmenttelemetryinspector */
.syn-element.syn-assessmenttelemetryinspector {
  display: block;
  gap: 8px;
}

.syn-element.syn-assessmenttelemetryinspector .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-assessmenttelemetryinspector .syn-element__body {
  margin-top: 6px;
}
