
@import '../../_design.css';

/* Component: Richtexteditor */
.syn-element.syn-richtexteditor {
  display: block;
  gap: 8px;
}

.syn-element.syn-richtexteditor .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-richtexteditor .syn-element__body {
  margin-top: 6px;
}
