
@import '../../_design.css';

/* Component: Sessionmanager */
.syn-element.syn-sessionmanager {
  display: block;
  gap: 8px;
}

.syn-element.syn-sessionmanager .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-sessionmanager .syn-element__body {
  margin-top: 6px;
}
