
@import '../../_design.css';

/* Component: Responsivemanager */
.syn-element.syn-responsivemanager {
  display: block;
  gap: 8px;
}

.syn-element.syn-responsivemanager .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-responsivemanager .syn-element__body {
  margin-top: 6px;
}
