
@import '../../_design.css';

/* Component: Chaptervisibilitytoggle */
.syn-element.syn-chaptervisibilitytoggle {
  display: block;
  gap: 8px;
}

.syn-element.syn-chaptervisibilitytoggle .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-chaptervisibilitytoggle .syn-element__body {
  margin-top: 6px;
}
