
@import '../../_design.css';

/* Component: Contextheader */
.syn-element.syn-contextheader {
  display: block;
  gap: 8px;
}

.syn-element.syn-contextheader .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-contextheader .syn-element__body {
  margin-top: 6px;
}
