
@import '../../_design.css';

/* Component: Supportmaterialuploader */
.syn-element.syn-supportmaterialuploader {
  display: block;
  gap: 8px;
}

.syn-element.syn-supportmaterialuploader .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-supportmaterialuploader .syn-element__body {
  margin-top: 6px;
}
