
@import '../../_design.css';

/* Component: Searchglobal */
.syn-element.syn-searchglobal {
  display: block;
  gap: 8px;
}

.syn-element.syn-searchglobal .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-searchglobal .syn-element__body {
  margin-top: 6px;
}
