
@import '../../_design.css';

/* Component: Classroomchapternavigator */
.syn-element.syn-classroomchapternavigator {
  display: block;
  gap: 8px;
}

.syn-element.syn-classroomchapternavigator .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-classroomchapternavigator .syn-element__body {
  margin-top: 6px;
}
