
@import '../../_design.css';

/* Component: Contentautosave */
.syn-element.syn-contentautosave {
  display: block;
  gap: 8px;
}

.syn-element.syn-contentautosave .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-contentautosave .syn-element__body {
  margin-top: 6px;
}
