
@import '../../_design.css';

/* Component: Coursepreview */
.syn-element.syn-coursepreview {
  display: block;
  gap: 8px;
}

.syn-element.syn-coursepreview .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-coursepreview .syn-element__body {
  margin-top: 6px;
}
