
@import '../../_design.css';

/* Component: Rolebadge */
.syn-element.syn-rolebadge {
  display: block;
  gap: 8px;
}

.syn-element.syn-rolebadge .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-rolebadge .syn-element__body {
  margin-top: 6px;
}
