
@import '../../_design.css';

/* Component: Courseeditform */
.syn-element.syn-courseeditform {
  display: block;
  gap: 8px;
}

.syn-element.syn-courseeditform .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-courseeditform .syn-element__body {
  margin-top: 6px;
}
