
@import '../../_design.css';

/* Component: Filemanager */
.syn-element.syn-filemanager {
  display: block;
  gap: 8px;
}

.syn-element.syn-filemanager .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-filemanager .syn-element__body {
  margin-top: 6px;
}
