
@import '../../_design.css';

/* Component: Classroominstructorview */
.syn-element.syn-classroominstructorview {
  display: block;
  gap: 8px;
}

.syn-element.syn-classroominstructorview .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-classroominstructorview .syn-element__body {
  margin-top: 6px;
}
