
@import '../../_design.css';

/* Component: Coursepublishflow */
.syn-element.syn-coursepublishflow {
  display: block;
  gap: 8px;
}

.syn-element.syn-coursepublishflow .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-coursepublishflow .syn-element__body {
  margin-top: 6px;
}
