
@import '../../_design.css';

/* Component: Courselist */
.syn-element.syn-courselist {
  display: block;
  gap: 8px;
}

.syn-element.syn-courselist .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-courselist .syn-element__body {
  margin-top: 6px;
}
