
@import '../../_design.css';

/* Component: Scrollcontainer */
.syn-element.syn-scrollcontainer {
  display: block;
  gap: 8px;
}

.syn-element.syn-scrollcontainer .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-scrollcontainer .syn-element__body {
  margin-top: 6px;
}
