
@import '../../_design.css';

/* Component: Lessonstatusbadge */
.syn-element.syn-lessonstatusbadge {
  display: block;
  gap: 8px;
}

.syn-element.syn-lessonstatusbadge .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-lessonstatusbadge .syn-element__body {
  margin-top: 6px;
}
