
@import '../../_design.css';

/* Component: Supportmaterialorder */
.syn-element.syn-supportmaterialorder {
  display: block;
  gap: 8px;
}

.syn-element.syn-supportmaterialorder .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-supportmaterialorder .syn-element__body {
  margin-top: 6px;
}
