
@import '../../_design.css';

/* Component: Useravataruploader */
.syn-element.syn-useravataruploader {
  display: block;
  gap: 8px;
}

.syn-element.syn-useravataruploader .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-useravataruploader .syn-element__body {
  margin-top: 6px;
}
