
@import '../../_design.css';

/* Component: Contentlockindicator */
.syn-element.syn-contentlockindicator {
  display: block;
  gap: 8px;
}

.syn-element.syn-contentlockindicator .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-contentlockindicator .syn-element__body {
  margin-top: 6px;
}
