
@import '../../_design.css';

/* Component: Offlinedetector */
.syn-element.syn-offlinedetector {
  display: block;
  gap: 8px;
}

.syn-element.syn-offlinedetector .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-offlinedetector .syn-element__body {
  margin-top: 6px;
}
