
@import '../../_design.css';

/* Component: Chapterautosave */
.syn-element.syn-chapterautosave {
  display: block;
  gap: 8px;
}

.syn-element.syn-chapterautosave .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-chapterautosave .syn-element__body {
  margin-top: 6px;
}
