
@import '../../_design.css';

/* Component: Contenttypeselector */
.syn-element.syn-contenttypeselector {
  display: block;
  gap: 8px;
}

.syn-element.syn-contenttypeselector .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-contenttypeselector .syn-element__body {
  margin-top: 6px;
}
