
@import '../../_design.css';

/* Component: Cognitivereportviewer */
.syn-element.syn-cognitivereportviewer {
  display: block;
  gap: 8px;
}

.syn-element.syn-cognitivereportviewer .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-cognitivereportviewer .syn-element__body {
  margin-top: 6px;
}
