
@import '../../_design.css';

/* Component: Permissionguard */
.syn-element.syn-permissionguard {
  display: block;
  gap: 8px;
}

.syn-element.syn-permissionguard .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-permissionguard .syn-element__body {
  margin-top: 6px;
}
