
@import '../../_design.css';

/* Component: Userpreferences */
.syn-element.syn-userpreferences {
  display: block;
  gap: 8px;
}

.syn-element.syn-userpreferences .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-userpreferences .syn-element__body {
  margin-top: 6px;
}
