
@import '../../_design.css';

/* Component: Contentaihelper */
.syn-element.syn-contentaihelper {
  display: block;
  gap: 8px;
}

.syn-element.syn-contentaihelper .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-contentaihelper .syn-element__body {
  margin-top: 6px;
}
