
@import '../../_design.css';

/* Component: Accordion */
.syn-element.syn-accordion {
  display: block;
  gap: 8px;
}

.syn-element.syn-accordion .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-accordion .syn-element__body {
  margin-top: 6px;
}
