
@import '../../_design.css';

/* Component: Imageuploader */
.syn-element.syn-imageuploader {
  display: block;
  gap: 8px;
}

.syn-element.syn-imageuploader .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-imageuploader .syn-element__body {
  margin-top: 6px;
}
