
@import '../../_design.css';

/* Component: Classroomexitconfirm */
.syn-element.syn-classroomexitconfirm {
  display: block;
  gap: 8px;
}

.syn-element.syn-classroomexitconfirm .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-classroomexitconfirm .syn-element__body {
  margin-top: 6px;
}
