
@import '../../_design.css';

/* Component: Markdowneditor */
.syn-element.syn-markdowneditor {
  display: block;
  gap: 8px;
}

.syn-element.syn-markdowneditor .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-markdowneditor .syn-element__body {
  margin-top: 6px;
}
