
@import '../../_design.css';

/* Component: Userlogoutflow */
.syn-element.syn-userlogoutflow {
  display: block;
  gap: 8px;
}

.syn-element.syn-userlogoutflow .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-userlogoutflow .syn-element__body {
  margin-top: 6px;
}
