
@import '../../_design.css';

/* Component: Cognitivedimensionschart */
.syn-element.syn-cognitivedimensionschart {
  display: block;
  gap: 8px;
}

.syn-element.syn-cognitivedimensionschart .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-cognitivedimensionschart .syn-element__body {
  margin-top: 6px;
}
