
@import '../../_design.css';

/* Component: Pdfviewer */
.syn-element.syn-pdfviewer {
  display: block;
  gap: 8px;
}

.syn-element.syn-pdfviewer .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-pdfviewer .syn-element__body {
  margin-top: 6px;
}
