
@import '../../_design.css';

/* Component: Usersessionlist */
.syn-element.syn-usersessionlist {
  display: block;
  gap: 8px;
}

.syn-element.syn-usersessionlist .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-usersessionlist .syn-element__body {
  margin-top: 6px;
}
