
@import '../../_design.css';

/* Component: Lessoncompletionrules */
.syn-element.syn-lessoncompletionrules {
  display: block;
  gap: 8px;
}

.syn-element.syn-lessoncompletionrules .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-lessoncompletionrules .syn-element__body {
  margin-top: 6px;
}
