
@import '../../_design.css';

/* Component: Globalstatemanager */
.syn-element.syn-globalstatemanager {
  display: block;
  gap: 8px;
}

.syn-element.syn-globalstatemanager .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-globalstatemanager .syn-element__body {
  margin-top: 6px;
}
