
@import '../../_design.css';

/* Component: Emptystate */
.syn-element.syn-emptystate {
  display: block;
  gap: 8px;
}

.syn-element.syn-emptystate .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-emptystate .syn-element__body {
  margin-top: 6px;
}
