
@import '../../_design.css';

/* Component: Splitview */
.syn-element.syn-splitview {
  display: block;
  gap: 8px;
}

.syn-element.syn-splitview .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-splitview .syn-element__body {
  margin-top: 6px;
}
