
@import '../../_design.css';

/* Component: Telemetryviewer */
.syn-element.syn-telemetryviewer {
  display: block;
  gap: 8px;
}

.syn-element.syn-telemetryviewer .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-telemetryviewer .syn-element__body {
  margin-top: 6px;
}
