
@import '../../_design.css';

/* Component: Useractivitylog */
.syn-element.syn-useractivitylog {
  display: block;
  gap: 8px;
}

.syn-element.syn-useractivitylog .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-useractivitylog .syn-element__body {
  margin-top: 6px;
}
