
@import '../../_design.css';

/* Component: Pagefooter */
.syn-element.syn-pagefooter {
  display: block;
  gap: 8px;
}

.syn-element.syn-pagefooter .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-pagefooter .syn-element__body {
  margin-top: 6px;
}
