
@import '../../_design.css';

/* Component: Lessonsettings */
.syn-element.syn-lessonsettings {
  display: block;
  gap: 8px;
}

.syn-element.syn-lessonsettings .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-lessonsettings .syn-element__body {
  margin-top: 6px;
}
