
@import '../../_design.css';

/* Component: Infinitescroll */
.syn-element.syn-infinitescroll {
  display: block;
  gap: 8px;
}

.syn-element.syn-infinitescroll .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-infinitescroll .syn-element__body {
  margin-top: 6px;
}
