
@import '../../_design.css';

/* Component: Coursedraftmanager */
.syn-element.syn-coursedraftmanager {
  display: block;
  gap: 8px;
}

.syn-element.syn-coursedraftmanager .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-coursedraftmanager .syn-element__body {
  margin-top: 6px;
}
