
@import '../../_design.css';

/* Component: Appshell */
.syn-element.syn-appshell {
  display: block;
  gap: 8px;
}

.syn-element.syn-appshell .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-appshell .syn-element__body {
  margin-top: 6px;
}
