
@import '../../_design.css';

/* Component: Contentpreview */
.syn-element.syn-contentpreview {
  display: block;
  gap: 8px;
}

.syn-element.syn-contentpreview .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-contentpreview .syn-element__body {
  margin-top: 6px;
}
