
@import '../../_design.css';

/* Component: Supportmaterialdelete */
.syn-element.syn-supportmaterialdelete {
  display: block;
  gap: 8px;
}

.syn-element.syn-supportmaterialdelete .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-supportmaterialdelete .syn-element__body {
  margin-top: 6px;
}
