
@import '../../_design.css';

/* Component: Classroommaterialpanel */
.syn-element.syn-classroommaterialpanel {
  display: block;
  gap: 8px;
}

.syn-element.syn-classroommaterialpanel .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-classroommaterialpanel .syn-element__body {
  margin-top: 6px;
}
