
@import '../../_design.css';

/* Component: Supportmaterialaudit */
.syn-element.syn-supportmaterialaudit {
  display: block;
  gap: 8px;
}

.syn-element.syn-supportmaterialaudit .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-supportmaterialaudit .syn-element__body {
  margin-top: 6px;
}
