
@import '../../_design.css';

/* Component: Coursestatustoggle */
.syn-element.syn-coursestatustoggle {
  display: block;
  gap: 8px;
}

.syn-element.syn-coursestatustoggle .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-coursestatustoggle .syn-element__body {
  margin-top: 6px;
}
