
@import '../../_design.css';

/* Component: Accessdeniedview */
.syn-element.syn-accessdeniedview {
  display: block;
  gap: 8px;
}

.syn-element.syn-accessdeniedview .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-accessdeniedview .syn-element__body {
  margin-top: 6px;
}
