
@import '../../_design.css';

/* Component: Videoplayer */
.syn-element.syn-videoplayer {
  display: block;
  gap: 8px;
}

.syn-element.syn-videoplayer .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-videoplayer .syn-element__body {
  margin-top: 6px;
}
