
@import '../../_design.css';

/* Component: Videouploader */
.syn-element.syn-videouploader {
  display: block;
  gap: 8px;
}

.syn-element.syn-videouploader .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-videouploader .syn-element__body {
  margin-top: 6px;
}
