
@import '../../_design.css';

/* Component: Lessondeleteconfirm */
.syn-element.syn-lessondeleteconfirm {
  display: block;
  gap: 8px;
}

.syn-element.syn-lessondeleteconfirm .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-lessondeleteconfirm .syn-element__body {
  margin-top: 6px;
}
