
@import '../../_design.css';

/* Component: Lessonanalytics */
.syn-element.syn-lessonanalytics {
  display: block;
  gap: 8px;
}

.syn-element.syn-lessonanalytics .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-lessonanalytics .syn-element__body {
  margin-top: 6px;
}
