
@import '../../_design.css';

/* Component: Sidebaritem */
.syn-element.syn-sidebaritem {
  display: block;
  gap: 8px;
}

.syn-element.syn-sidebaritem .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-sidebaritem .syn-element__body {
  margin-top: 6px;
}
