
@import '../../_design.css';

/* Component: Classroomnotes */
.syn-element.syn-classroomnotes {
  display: block;
  gap: 8px;
}

.syn-element.syn-classroomnotes .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-classroomnotes .syn-element__body {
  margin-top: 6px;
}
