
@import '../../_design.css';

/* Component: Userprofile */
.syn-element.syn-userprofile {
  display: block;
  gap: 8px;
}

.syn-element.syn-userprofile .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-userprofile .syn-element__body {
  margin-top: 6px;
}
