
@import '../../_design.css';

/* Component: Chaptercontentcontainer */
.syn-element.syn-chaptercontentcontainer {
  display: block;
  gap: 8px;
}

.syn-element.syn-chaptercontentcontainer .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-chaptercontentcontainer .syn-element__body {
  margin-top: 6px;
}
