
@import '../../_design.css';

/* Component: Featureflagmanager */
.syn-element.syn-featureflagmanager {
  display: block;
  gap: 8px;
}

.syn-element.syn-featureflagmanager .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-featureflagmanager .syn-element__body {
  margin-top: 6px;
}
