
@import '../../_design.css';

/* Component: Lessonlist */
.syn-element.syn-lessonlist {
  display: block;
  gap: 8px;
}

.syn-element.syn-lessonlist .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-lessonlist .syn-element__body {
  margin-top: 6px;
}
