
@import '../../_design.css';

/* Component: Supportmaterialversioning */
.syn-element.syn-supportmaterialversioning {
  display: block;
  gap: 8px;
}

.syn-element.syn-supportmaterialversioning .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-supportmaterialversioning .syn-element__body {
  margin-top: 6px;
}
