
@import '../../_design.css';

/* Component: Chaptervalidation */
.syn-element.syn-chaptervalidation {
  display: block;
  gap: 8px;
}

.syn-element.syn-chaptervalidation .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-chaptervalidation .syn-element__body {
  margin-top: 6px;
}
