
@import '../../_design.css';

/* Component: Modalmanager */
.syn-element.syn-modalmanager {
  display: block;
  gap: 8px;
}

.syn-element.syn-modalmanager .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-modalmanager .syn-element__body {
  margin-top: 6px;
}
