
@import '../../_design.css';

/* Component: Coursedeleteconfirm */
.syn-element.syn-coursedeleteconfirm {
  display: block;
  gap: 8px;
}

.syn-element.syn-coursedeleteconfirm .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-coursedeleteconfirm .syn-element__body {
  margin-top: 6px;
}
