
@import '../../_design.css';

/* Component: Lessoncontextswitcher */
.syn-element.syn-lessoncontextswitcher {
  display: block;
  gap: 8px;
}

.syn-element.syn-lessoncontextswitcher .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-lessoncontextswitcher .syn-element__body {
  margin-top: 6px;
}
