
@import '../../_design.css';

/* Component: Router */
.syn-element.syn-router {
  display: block;
  gap: 8px;
}

.syn-element.syn-router .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-router .syn-element__body {
  margin-top: 6px;
}
