
@import '../../_design.css';

/* Component: Contentvalidation */
.syn-element.syn-contentvalidation {
  display: block;
  gap: 8px;
}

.syn-element.syn-contentvalidation .syn-element__title {
  font-size: 15px;
}

.syn-element.syn-contentvalidation .syn-element__body {
  margin-top: 6px;
}
